<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="collapsed = !collapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive-="active">
          <a class="nav-link"  routerLink="/recipes"
            >Recipes</a
          >
        </li>
        <li class="nav-item" routerLinkActive-="active">
          <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>

      <ul class="nav" style="margin-left: auto" ngbDropdown>
        <li class="nav-item dropdown">
          <a class="nav-link" ngbDropdownToggle  id="navbarDropdown">
            Manage
          </a>
          <div class="dropdown-menu" ngbDropdownMenu="navbarDropdown">
            <a ngbDropdownItem (click)="onStoreData()">Save Data</a>
            <a ngbDropdownItem  (click)="onFetchData()">Fetch Data</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
